<div class="form_div">

  <%= form_for @user,url: @direction, html: { multipart: true } do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name, required:"true", class:"simple_input" %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, required:"true", class:"simple_input" %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, class:"simple_input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class:"simple_input" %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email,type: "email", required:"true", class:"simple_input" %>
    </div>

    <div class="field">
      <%= f.label :role %><br>
      <%= f.collection_select(:role_id,Role.all, :id, :name, {prompt:"---"},{required:"true", class:"simple_input"})  %>
    </div>

    <div class="field">
      <%= f.label :approved %><br>
      <%= f.check_box :approved %>
    </div>

    <div class="actions">
      <%= f.submit "Submit"%>
    </div>

  <% end %>

</div>
